body, html {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body{
    background-color: #e87885 /*rgb(247,146,158);*/
}

.main-area{
    background-color: black;
    height: 500px;
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -500px;

    /*blur*/    
    /*-webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);*/
    box-shadow: 0 0 40px #ce6974;   
}

.main-area div{
    display: inline-block;
    width: 50%;
    height: 100%;
    margin: 0;

    overflow: auto;
}

.main-area-pic{
    background-color: #65d6c4;

    /*blur*/    
    -webkit-box-shadow: inset 0 0 5em #499b8e;
    -moz-box-shadow: inset 0 0 5em #499b8e;
    box-shadow: inset 0 0 5em #499b8e; 
}

.main-area-signup{
    background-color: #242e42;
    float: right;

    /*blur*/    
    -webkit-box-shadow: inset 0 0 7em #1a2130;
    -moz-box-shadow: inset 0 0 7em #1a2130;
    box-shadow: inset 0 0 7em #1a2130;   
}

.main-area-pic img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: auto;
    vertical-align: middle;
}

.helper {
    display: inline-block;
    height: 40%;
}


.main-area-signup div{
    position: absolute;
    height: auto;
    width: auto;
    top: 0;
    left: 0;
}

#signupText{
    top: 9em;
    left: 37em;
    letter-spacing: 1px;
    background-color: none;
    color: white;
    font-weight: lighter;
    opacity: .8;
    padding-bottom: 5px;
    border-bottom: 1px solid #65d6c4;
    /*text-decoration: underline;*/
}

#email{
    top: 20.21em;
    left: 59.2em;
    letter-spacing: 1px;
    background-color: none;
    color: #65d6c4;
    font-weight: lighter;
    opacity: .8;
    font-size: 10px;
}

#emailInput{
    top: 14em;
    left: 37em;
}

#emailInput input{
    width: 20em;
    background-color: #242e42;
    padding: 14px 40px 14px 0;
    outline: none;
    cursor: pointer;
    border: 0 solid;
    border-bottom: 1px solid #65d6c4;

    font-size: 13px;
    letter-spacing: 1px;
    color: #65d6c4;
}


/*for input*/
/*------------------*/
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #65d6c4;
    opacity: .3; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #65d6c4;
    opacity: .3; /* Firefox */
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #65d6c4;
    opacity: .3; /* Firefox */
}

#button{
    top: 23em;
    left: 45.5em;
    background-color: #65d6c4;
    padding: 10px 50px;
    color: white;
    font-size: 13px;
    letter-spacing: 1px;
    text-shadow: 0 5px 10px #3b7f74;

    border: 0px;
    border: none;
    box-shadow: 0 15px 40px #161c28;
    border-radius: 25px;
    width: auto;
    cursor: pointer;
}

#button:active {
    background-color: #51a395;
} 

.fa-envelope{
    color: #65d6c4;
    margin: 0;
    padding: 0;
}

#user{
    top: 9.24em;
    left: 34.65em;
    font-size: 25px;
}



/*spinner*/
/*-------------------------------------*/



#loader {
    /*visibility: hidden;*/
    top: 19.2em;
    left: 41em;
    border: 5px solid #242e42;
    border-radius: 50%;
    border-top: 5px solid #f3f3f3;
    width: 10px;
    height: 10px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}